# FASTAPI
FA_PORT=5001
FA_PORT_EXTERNAL=5001
FA_RELOAD=1
FA_DEBUG=1
FA_TITLE=FastAPI Template SYNC
FA_DESCRIPTION=Description
FA_VERSION=0.0.1

# DB
POSTGRES_HOST=app_db
POSTGRES_PORT=5432
POSTGRES_PORT_EXTERNAL=6432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
